.about {
    background-color:#333232;
    padding: 113px 0 160px 0;
    &__skills {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 183px;
    }
    &__card-wrapper {
        display: inline-block;
        color: $main-color-blue;
        font-family: 'NEXT ART', sans-serif;
        font-size: 66px;
        font-weight: 700;
        
        &.flip-left {
            .about__card {
              &-back {
                transform: rotateY(-180deg);
                box-shadow: 0px 0px 16px 4px $main-color-blue;
              }
            }
        
            &:hover {
              .about__card {
                transform: rotateY(-180deg);
              }
            }
          }
          &, .about__card {
            width: rem(270);
            height: rem(270);
            margin: 10px;
          }
    }
    &__card {
            position: relative;
            cursor: pointer;
            transition-duration: 0.5s;
            transition-timing-function: ease-in-out;
            transform-style: preserve-3d;
            &-front, &-back {
              position: absolute;
              border-radius: 29px;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              backface-visibility: hidden;
              transform: rotateX(0deg);
              background: #2A2A2A;
              box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.47);
              
            }
        
            &-front, &-back {
                display: flex;
                align-items: center;
                justify-content: center;
              }
    } 
    &__block {
        position: relative;
        max-width: 1100px;
        z-index: 1;
        margin: 0 auto;
        &-image {
            z-index: 2;
            border: 20px solid #2C2C2C;
            border-radius: 25px;
            margin: 0 auto;
            position: absolute;
            & img {
                    display: block;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    border: 10px solid #686868;
                    box-sizing: border-box;
            }
            &:nth-child(1) {
                top: -6%;
                left: 1%;
                width: 270px;
                height: 320px;
            }
            &:nth-child(2) {
                right: 0%;
                top: 18%;
                width: 280px;
                height: 420px;
            }
            &:nth-child(3) {
                width: 280px;
                height: 320px;
                left: 1%;
                bottom: -11%;
            }
        }
    }
    &__text {
        max-width: 496px;
        padding: 0 63px 63px 63px;
        background-color: #2C2C2C;
        border-radius: 14px;
        box-sizing:border-box;
        margin: 0 auto;
        position: relative;
        z-index: 1;
        &-title {
            font-family: 'NEXT ART', sans-serif;
            bottom: 28px;
            position: relative;
        }
    }
    &__circle {
        position: absolute;
        z-index: 0;
        &.circle_veryBig {
            top: 12px;
            right: 483px;
        }
        &.circle_small {
            top: -47px;
            right: 38px;
        }
        &.circle_med {
            bottom: -106px;
            right: 28px;
        }
        }
    }
   
#aboutMe {
  height: 80px;
}
   