
.container {
    max-width: rem(1280);
    width: 100%;
    margin: 0 auto;
}
html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
    scrollbar-width: thin;
    scrollbar-color: #555 #555;
  }
  * {
    scroll-behavior: smooth;
  }
  .link-active {
    border-bottom: 1px solid $main-orange-color;
  }
  
  .circle {
    &_veryBig {
      width: 600px;
      height: 600px;
      border-radius: 600px;
      border: 80px solid $text-color;
      box-shadow: 0px 4px 40px 0px rgba(255, 255, 255, 0.25);
    }
    &_big {
      width: 500px;
      height: 500px;
      border-radius: 500px;
      box-shadow: 0px 0px 152px 0px rgba(0, 196, 240, 0.42);
      border: 67px solid $main-color-blue;
    }
    &_med {
      width: 386px;
      height: 386px;
      border-radius: 386px;
      border: 55px solid $main-color-blue;
      box-shadow: 0px 4px 50px 0px rgba(0, 193, 236, 0.25);
    }
    &_small {
      width: 280px;
      height: 280px;
      border-radius: 280px;
      border: 34px solid $main-orange-color;
      box-shadow: 0px 4px 40px 0px rgba(226, 162, 0, 0.25);
    }
  }

// Scroll

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #555;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b5b5b5;
}
::-webkit-scrollbar-corner {
    background: transparent;
}